/* map-data-component.css */

.map-container {
  height: 100%;
  width: 100%;
  padding: 10px;
  background-color: #333; /* Darken the background color */
  color: #fff; /* Set text color to white */
}

.map {
  height: 100%;
  width: 100%;
  border: 1px solid #555; /* Darken the border color */
}

.ol-popup {
  position: absolute;
  background-color: #444; /* Darken the background color */
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #777; /* Darken the border color */
  bottom: 12px;
  left: -50px;
  min-width: 100px;
  max-width: 200px;
}

.popup-content {
  max-width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  color: #fff; /* Set text color to white */
}

.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: #444; /* Darken the background color */
  border-width: 6px;
  left: 50%;
  transform: translateX(-50%);
}

.ol-popup:before {
  border-top-color: #777; /* Darken the border color */
  border-width: 7px;
  left: 50%;
  transform: translateX(-50%);
}

.ol-popup-closer {
  position: absolute;
  top: 2px;
  right: 8px;
  font-size: 15px;
  color: #c0392b;
  text-decoration: none;
}

.ol-popup-closer:hover {
  color: #e74c3c;
}
