/* nav-component.css */

.form-container {
  width: 100%;
  padding: 10px;
  background-color: #444; /* Darken the background color */
  color: #fff; /* Set text color to white */
}

a {
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add transition for smooth color and shadow change */
}

a:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Lighter background color on hover */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Add a subtle shadow effect on hover */
}

.tab {
  color: #f1f1f1 !important;
  text-shadow: none !important;
  text-decoration-style: solid !important;
}

.navbar-inverse {
  border: none !important;
  background-color: #333; /* Darken the background color */
}

.tab-wms {
  background-color: #b30000; /* Dark red */
  color: white !important;
  font-size: normal;
  font-weight: bolder;
  text-shadow: none !important;
}

.tab-wfs {
  background-color: #cca300; /* Dark yellow */
  color: white !important;
  font-size: normal;
  font-weight: bolder;
  text-shadow: none !important;
}

.tab-wcs {
  background-color: #004080; /* Dark blue */
  color: white !important;
  font-size: normal;
  font-weight: bolder;
  text-shadow: none !important;
}

.background-black {
  background-color: #444; /* Darken the background color */
  color: #fff; /* Set text color to white */
}
