<div class="container-fluid">
  <div class="row header-layout layout ">
    Mapping System
  </div>
  <div class="row">
    <div class="col-sm-6 layout nav-layout">
      <app-nav></app-nav>
    </div>
    <div class="col-sm-6">
      <div class="row half-height">
        <div class="col-sm-12 layout">
          <app-map-data></app-map-data>
        </div>
      </div>
      <div class="row half-height">
        <div class="col-sm-12 layout">
          <app-tabular-data></app-tabular-data>
        </div>
      </div>
    </div>
  </div>
</div>
