/* app.component.css */

.layout {
  background: #333; /* Darken the background color */
  color: #fff; /* Set text color to white */
  height: 100%;
  padding: 10px;
}

.full-height {
  height: 100vh;
}

.half-height {
  height: 50vh;
}

.nav-layout {
  background-color: #222; /* Darken the background color */
  color: #fff; /* Set text color to white */
  min-height: 100vh;
}

.min-height {
  min-height: 100vh;
}

.min-height-less {
  min-height: 80vh;
}

.header-layout {
  background-color: #444; /* Darken the background color */
  text-align: center;
  height: 10vh;
  font-size: x-large;
  border-bottom: 2px solid #fff; /* Lighten the border color */
}

/* Additional styles for dark mode */
.dark-mode .layout {
  background: #333;
  color: #fff;
}

.dark-mode .nav-layout {
  background-color: #222;
}

.dark-mode .header-layout {
  background-color: #444;
  border-bottom: 2px solid #fff;
}
