/* tabular-data-component.css */

.xml-box {
  border: 1px solid #555;
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #444;
  color: #fff;
}

.xml-box h3 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #fff;
}
