
   
  <div class="table-container table-responsive">
        <h3 class="display-4 text-center">Attributes Table</h3>
    <table class="table table-bordered">
        <!-- yet to be implemented -->
      <thead>
        <tr>
          <th>#</th>
          <th>City Name</th>
          <th>lat</th>
          <th>long</th>
          <th>Country</th>
          <th>Population</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Sydney</td>
          <td>-33.861481</td>
          <td>-33.861481</td>
          <td>Australia</td>
          <td>4630000</td>
        </tr>
     <tr>
       <td>2</td>
       <td>South Melbourne</td>
       <td>-37.833333
</td>
       <td>144.966667</td>
       <td>Australia</td>
       <td>4170000
</td>
     </tr>
          <tr>
            <td>3</td>
            <td>Brisbane</td>
            <td>-27.47101</td>
            <td>153.024292/td>
            <td>Australia</td>
            <td>1860000</td>
          </tr>
               <tr>
                 <td>4</td>
                 <td>Perth</td>
                 <td>-31.95224</td>
                 <td>115.861397</td>
                 <td>Australia</td>
                 <td>1532000</td>
               </tr>
                    <tr>
                      <td>5</td>
                      <td>Adelaide</td>
                      <td>-34.928661</td>
                      <td>138.598633</td>
                      <td>Australia</td>
                      <td>1145000</td>
                    </tr>










      </tbody>
    </table>
    </div>

    